<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Twitter Follower Balancer</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="height: 100vh" class="d-flex flex-column justify-content-center align-items-center">
        <h1>Welcome to Twitter Follower Balancer</h1>
        <h3><a th:href="@{/register}">Register</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
    </div>
</div>

</body>
</html>